@tailwind base;
@tailwind components;
@tailwind utilities;

@import 'swiper/css'; /* Import core Swiper styles */
@import 'swiper/css/navigation'; /* Import Swiper Navigation module styles */


h1 {
    font-family: "Bebas_Neue";
}
.card:hover > .card-overlay{
    transform: translateY(0%);
}

.header-icon{
    transition: all 300ms ease-in-out;
    
}

.navigate-button {
    transition: all 300ms ease-in-out;
}

.list-wrapper:hover >  .navigate-wrapper > .navigate-button{
   opacity: 100%;
   z-index: 10;
}

.navigate-button:hover {
    @apply bg-opacity-70
}

@layer base {
    @font-face {
        font-family: "Bebas_Neue";
        src: url("/assets/fonts/Bebas_Neue,Raleway/Bebas_Neue/BebasNeue-Regular.ttf");
    }

    @font-face {
        font-family: "Raleway";
        src: url("/assets/fonts/Bebas_Neue,Raleway/Raleway/Raleway-VariableFont_wght.ttf");
    }

    @font-face {
        font-family: "Raleway_italic";
        src: url("/assets/fonts/Bebas_Neue,Raleway/Raleway/Raleway-Italic-VariableFont_wght.ttf");

    }
}